*{
  margin: 0px;
  padding: 0px;
}



.fondo-nav{
  width: 100%;
  height: 450px;
  background-image: url("./assets/nav.jpg");
  background-size: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);

}
.title{
  color: white;
  font-size: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200px;
}
.quienes-somos{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}
.quienes-somos p{
  font-size:20px;
  width: 80%;
}


.categorias{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  row-gap: 120px;
}
.categorias-text{
  display: flex;
  align-items: center;
  padding: 80px;

}
.categorias-text p{
  text-align: center;
  font-size:20px
}
.categorias-first{
  display: flex;
  width: 80%;
  justify-content: center;
}
.categorias-second{
  display: flex;
  width: 80%;
  justify-content: center;
}
.categorias-third{
  display: flex;
  width: 80%;
  justify-content: center;
}
.categorias-img-chicas{
  width: 600px;
  height: 400px;
}
.categorias-img-larga{
  width: 400px;
  height: 600px;
}




@media only screen and (max-width: 600px) {

  .quienes-somos{
    display: flex;
    justify-content:center;
  }
  .quienes-somos p{
    width: 80%;
    text-align: center;
  }
  .categorias{
    row-gap: 0px;
  }
  .categorias-text{
    padding: 200px 20px;
  }
  .categorias-first{
    width: 100%;
    flex-direction: column;
  }
  .categorias-second{
    width: 100%;
    flex-direction: column-reverse;
  }
  .categorias-third{
    width: 100%;
    flex-direction: column;
  }
  .categorias-img-chicas{
    width: 100%;
  }
  .categorias-img-larga{
    width: 100%;
    height: 800px
  }
}